@model Modelo.DAO.Pessoa
@{
    ViewBag.Title = "CadastroAluno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">CadastroAluno</h2>


@Styles.Render("~/Content/cadastro.css")


    @using (Html.BeginForm("cadastroAluno", "Pessoa", FormMethod.Post))
    {
        <div align="center" margin-left="33%" margin-right="33%">
            <div>
                @Html.TextBoxFor(model => model.Nome, htmlAttributes: new { @class = "inputCadastro", @placeholder = "Nome", @style = "margin: 10px" })
            </div>
            <div>
                @Html.TextBoxFor(model => model.Identificacao, htmlAttributes: new { @type="number", @class = "inputCadastro", @placeholder = "Identificacao", @style = "margin: 10px" })
            </div>
            <div>
                @Html.TextBoxFor(model => model.Curso, htmlAttributes: new { @class = "inputCadastro", @placeholder = "Curso", @style = "margin: 10px" })
            </div>
            <div>
                @Html.TextBoxFor(model => model.Departamento, htmlAttributes: new { @class = "inputCadastro", @placeholder = "Departamento", @style = "margin: 10px" })
            </div>
            <div>
                @Html.TextBoxFor(model => model.Grupo, htmlAttributes: new { @class = "inputCadastro", @placeholder = "Grupo", @style = "margin: 10px" })
            </div>
            <div>
                @Html.PasswordFor(model => model.Senha, htmlAttributes: new { @class = "inputCadastro", @placeholder = "Senha", @style = "margin: 10px" })
            </div>
            <div>
                <input class="submitCadastro" type="submit" value="Cadastrar">
            </div>

        </div>
    }
       