
@{
    ViewBag.Title = "FalhaCadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FalhaCadastro</h2>

<p>@ViewBag.mensagem;</p>
<br>
<br>
<p>@ViewBag.alunoNome;
   <br>@ViewBag.alunoRA;
    <br>@ViewBag.alunoSenha;
   <br>@ViewBag.alunoCurso;</p>

